@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    /*padding and border are included in the width and height*/
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }


nav{
    position: fixed;
    background-color: #4a4b5e;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0;
}

nav ul li a{
    display: block;
    /* 15px : top bottom, 20px : left right */
    padding: 15px 150px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    font-size: 23px;
    z-index: 10000;
}

nav ul li a:hover{
    background-color: #606387;
}


video{
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    position: relative;
    margin-bottom: 0;
    
}


.text{
    justify-content: center;
    align-items: center;
    top: 400px;
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    padding-left: 200px;
    color: #fff;
    letter-spacing: 4px ;
    transition: 0.8s ;
}

.text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    line-height: 32px;

}

.text h2 {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    line-height: 70px;

}

.background-section{
    margin-top: -100;
    min-height: 1000px;
    width: 100%;
    background-color: #555d6b;
}

.box{
    transition: 0.8s;
    position: absolute;
    width: 70%;
    margin-top: 9vw;
    margin-left: 15vw;
    height: 70%;
    padding: 20px;
    background-color: #323a55;
    border-top: 30px solid #fff2f2;
    border-bottom: 30px solid #fff2f2;
    border-left: 15px solid #858383;
    border-right: 15px solid #555555;
    border-radius: 8px;
    box-sizing: border-box;
    
}

.triangle{
    margin-top: -30px;
    margin-left: 59vw;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 50px solid #ffffff;

}

.triangle2{
    margin-top: -40px;
    margin-left: 54vw;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #ffffff;
}

.triangle3{
    margin-top: -23px;
    margin-left: 52.5vw;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff;
}
.background-section p{
    transition: 0.8s;
    margin-left: 20px;
    margin-top: 170px;
    position: absolute;
    text-align: center;
    display: inline-block;
    clear: both;
    color: #ffffff;
    z-index: 10;
    font-size: 23px;
}

.background-section img{
    transition: 0.8s;
    margin-left: 50px;
    margin-top: 120px;
    height: auto;
    margin-right: 10px;
}

/* .pic  {
    display: flex;
    position: absolute;
    height: 300px;
    font-size: 18px;
    font-weight: 400;
    margin: 300px 40px;
    color: #fff;
    max-width: 700px;
    top: 45vw;
    left: 70vw;
} */



